body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #f0f8ff;
    color: #333;
    box-sizing: border-box;
}

/* Centering the content and adding margin */
main, header {
    margin: 10px auto;
}

/* Header Section */
header {
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h1 {
    font-size: 2.5em;
    color: #007bb5;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    color: #0175ab;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.3em;
    color: #4b8baf;
}

/* Navigation Section */
nav {
    display: block;
    width: 20%;
    float: left;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: #007bb5; 
    padding: 1em;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color:whitesmoke;
    background-color: #f472e9;
}


/* Main Section */
main {
    width: 70%;
    height: 100vh;
    float: right;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px;
    background-color: #4fc3f7;
    color: white;
    text-align: center;
}

/* Homepage */
#home-main div {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 1em;
}

.main-right p {
    padding-bottom: 5em;
}

.main-left {
    flex: 1;
}

.main-right {
    flex: 2;
}

.main-left > img {
    width: 100%;
}

/* Education Page */
#education-cont {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

#education-cont > div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-cont-left {
    text-align: center;
    margin-right: 1.5em;
}

#education-cont p {
    font-size: 1.2em;
    color: #4e4d4d;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#education-cont p em {
    font-style: italic;
    color: #007bb5;
    margin-bottom: 10px;
}

#education-cont a {
    text-decoration: none;
    color: #007bb5;
    padding: 10px 20px;
    border: 1px solid #007bb5;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#education-cont a:hover {
    background-color: #007bb5;
    color: #fff;
}

/* Experience Page */
#experience-section {
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff; /* Light pastel blue background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience {
    margin-bottom: 20px;
    padding-bottom: 3em;
}

h3 {
    font-size: 1.8em;
    color: #4b8baf; /* Lighter blue for job titles */
    margin-bottom: 5px;
}

#experience-section ul {
    list-style: disc;
    margin-left: 20px;
}

/* Projects Page */
#projects {
    padding-bottom: calc(2em + 50px);
}

.project {
    display: flex;
    align-items: center;
    padding-bottom: calc(2em + 50px);
}

.project-img {
    max-width: 200px; /* Adjust as needed */
    margin-right: 20px;
    border-radius: 5px;
}
.project-link {
    color: #bd1cb3;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    color: #008d18;
    text-decoration: underline;
}

/* Certifications Page */
.certifications-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.cert-item {
    text-align: center;
}

.cert-img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.cert-item p {
    font-size: 1.1em;
    color: #0175ab;
}

#certifications {
    padding-bottom: 5em;
}

/* References */
table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: calc(1.5em - 10px);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bb5;
    color: white;
}

td a {
    color: #928892;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
    color: #bd1cb3;
}

/* Calculator */
#calculator {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input {
    padding: 10px;
    font-size: 1.2em;
    width: 100px;
    margin: 5px;
    border-radius: 20px;
}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.2em;
    border: none;
    background-color: #007bb5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #a725c4;
}

/* Responsive CSS */
@media screen and (max-width:750px) {
    body {
        text-align: center;
    }

    footer {
        height: 20px;
    }

    footer p {
        margin: 0;
    }
    nav {
        float: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #e0f7fa;
        padding: 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: calc(1em - 5px);
        font-weight: bold;
    }

    nav li {
        display: inline-block;
        margin: 0;
    }

    h3 {
        font-size: 1.3em;
        color: #4b8baf; /* Lighter blue for job titles */
        margin-bottom: 5px;
    }

    header {
        text-align: center;
    }

    main {
        width: 100%;
        height: 100vh;
        padding: 20px 10px;
        float: none;
        display: block;

    }

    #home-main div{
        display: block;
    }

    p {
        font-size: calc(1.3em - 4px);
    }

    /* Education Page */
    #education-cont > div {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        margin-top: 20px;
    }

    #education-cont p {
        font-size: calc(1.3em - 4px);
    }

    /* Projects Page */
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project-img {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }

    /* Certification Page */
    .certifications-grid {
        grid-template-columns: 1fr;
    }

    .cert-img {
        max-width: 100%;
    }

    /* Reference Page */
    #references table {
        margin: 20px auto;
    }

    
}

